@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-image: url("../img/fondobody2.jpg");
    background-repeat: no-repeat;
    background-size:cover;    
    background-attachment: fixed;
    font-family: 'Poiret One', cursive;

}


/*----------------HEADER-INDEX--------------*/
/*---------------CSS-INDEX-NAV---------------*/

header div{
    display: flex;
    justify-content: center;
    align-items: center;
}

header div img{
    width: 54%;    
    margin: 25px;
}

header{
    padding: 5px;
    width: 100%;
    background-color: rgba(255, 228, 196, 0.082);
}

header h1{    
    text-align: center;
    font-size: 60px;
    padding: 10px;       
}

header nav ul{    
    padding: 5px;
    list-style: none;  
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    align-items: center; 
    flex-wrap: nowrap; 
}

header a{
    text-decoration: none;
    color: aliceblue;
}

header nav ul li{
    margin: 10px;
    font-size: 25px;    
}

header a:hover{
    color: #f7b817;
}


@media (min-width: 760px){
    header nav ul{    
        padding: 10px;
        list-style: none;  
        display: flex;
        flex-direction: row;        
        justify-content: space-around;  
        align-items: center; 
        flex-wrap: nowrap;    
    }
}

@media (min-width: 760px){
    header div img{
        width: 400px;
        margin: 25px;
    }

}


/*-------------DIV-CONTENEDOR-INDEX------------*/

.grid-contenedor{       
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /*grid-template-rows: auto 1200px auto;*/
    grid-template-areas: 
    "header"    
    "main"
    "footer"
    ;

}

/*--------------GRID-AREAS-INDEX--------------*/

.encabezado{
    background-color: rgba(255, 255, 255, 0.096);
    grid-area: header;    
}

.contenido{
    grid-area: main;
}

.introduccion{
    text-decoration: none;
    color: white;
}

.pie{
    grid-area: footer;
}


/*-------------MAIN-INDEX--------------*/

.contenido{
    margin-bottom: 50px;
}

.hero{    
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img{
    height: 70%;
    width: 70%;
}

.introduccion{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section h2{
    margin: 25px;
}

section p{
    margin: 25px;
    width: 90%;    
    font-size: 20px;
    text-align: center;   
}

.carousel{
    height: 300px;
    width: 450px;
}

.boton-ver{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.226);
    width: 300px;
    height: 80px;
    color: #f7b817;
    font-size: 50px;    
    
}


/*------------FOOTER-INDEX---------*/

footer{           
    background-color: rgba(255, 228, 196, 0.082);
    display: flex;    
    justify-content: space-between;
    align-items: center; 
    font-family: 'Poiret One', cursive;          
}


footer nav ul li a{
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 20px;    
    color: white;
}

footer nav ul{
    list-style: none;

}

footer div{
    display: flex;
    justify-content: flex-end;
}

footer div img{    
    margin: 25px;
    height: 50px;
    width: 50px; 
}

.redes-sociales img{
    display: block;
}

.redes-sociales img:hover{    
    width: 55px;
    height: 55px;
}

.menu-pie a:hover{    
    color: #f7b817;
    
}

/*-----------------CSS-NOSOTROS----------------*/

/*-------------DIV-CONTENEDOR-NOSOTROS------------*/

.grid-contenedor-nosotros{         
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /*grid-template-rows: auto auto auto;*/
    grid-template-areas: 
    "header header header"    
    "main main main"
    "footer footer footer"
    ;
}

/*--------------GRID-AREAS-NOSOTROS--------------*/

.encabezado-nosotros{
    background-color: rgba(255, 255, 255, 0.096);
    grid-area: header;    
}

.contenido-nosotros{
    grid-area: main;
}

.pie-nosotros{
    grid-area: footer;
}

/*-----------HEADER-NOSOTROS----------*/

.menu-nosotros{
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Poiret One', cursive;
}

.introduccion-nosotros{    
    text-decoration: none;
    color: white;
}

section p{
    text-align: justify;
}

/*------------MAIN-NOSOTROS-----------*/

.introduccion-nosotros{
    margin: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduccion-nosotros h2 img{
    width: 100%;
    height: 100%;
}

.introduccion-nosotros p{
    font-size: 30px;
}


.equipo{
    color: white;
    font-family: 'Poiret One', cursive;    
    display: flex;   
    flex-direction: column; 
    justify-content: center;
    align-items: center;   
}

@media (min-width: 760px){ 
    .equipo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
}

.equipo div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
}

.equipo div img{    
    height: 90%;
    width: 90%;
}



/*--------------GALERIA-------------*/

/*-----------MAIN-GALERIA-----------*/

.creaciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    height: auto;     
}

.creaciones img{  
    margin: 25px;  
    width: 70%;
}

.contenido-galeria{
    margin: 20px;
}

/*----------GRID-CONTENEDOR-GALERIA------*/

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

/*---------GRID-AREAS-Y-EFECTOS-GALERIA-----------*/

.grid-item-1{
    width: 100%;
    background-image: url(../img/foto1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}   
.grid-item-1:hover{
    filter: opacity(0.9);
    transform: scale(1.04);    
}

.grid-item-2{
    background-image: url(../img/foto2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;       
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}
.grid-item-2:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}

.grid-item-3{
    background-image: url(../img/foto3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;    
}
.grid-item-3:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.grid-item-4{
    background-image: url(../img/foto4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;       
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;    
}
.grid-item-4:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.grid-item-5{
    background-image: url(../img/foto5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}   
.grid-item-5:hover{
    filter: opacity(0.9);
    transform: scale(1.04);    
}

.grid-item-6{
    background-image: url(../img/foto6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}   
.grid-item-6:hover{
    filter: opacity(0.9);
    transform: scale(1.04);    
}

.grid-item-7{
    background-image: url(../img/foto7.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}   
.grid-item-7:hover{
    filter: opacity(0.9);
    transform: scale(1.04);    
}

.grid-item-8{
    background-image: url(../img/foto8.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}   
.grid-item-8:hover{
    filter: opacity(0.9);
    transform: scale(1.04);    
}

.grid-item-9{
    background-image: url(../img/foto9.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}   
.grid-item-9:hover{
    filter: opacity(0.9);
    transform: scale(1.04);    
}
.grid-item-10{
    background-image: url(../img/foto10.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}   
.grid-item-10:hover{
    filter: opacity(0.9);
    transform: scale(1.04);    
}
.grid-item-11{
    background-image: url(../img/foto11.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}   
.grid-item-11:hover{
    filter: opacity(0.9);
    transform: scale(1.04);    
}

/*--------MEDIA-QUERIS-GALERIA---------*/

@media (min-width: 600px){

.wide {
    grid-column: span 2;
}
.tall {
    grid-row: span 2;
}
}


/*------------CSS-CONTACTO---------*/


/*-----------MAIN-CONTACTO---------*/

.main-contacto{
    display: flex;
    flex-direction: column;
}

.contacto{
    display: flex;    
    align-items: center;
    justify-content: center;  
    height: auto;     
}

.contacto img{  
    margin: 25px;  
    width: 70%;
}

.contenido-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.contenido-contacto p{
    width: 50%;
    margin: 20px;
}

@media (min-width: 760px){ 
    .contenido-contacto{
        display: flex;
        flex-direction: row;
        margin: 20px;
        text-align: center;
        text-decoration: none;
        color: white;
    }
}

/*------FORMULARIO-CONTACTO-------*/

form{
    width: 500px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.082);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h2{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Poiret One', cursive;  


}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background-color: #f7b817;
    color: white;
    padding: 20px;
}

#boton:hover{
    cursor: pointer;
}

@media (max-width:480px){
    form{
        width: 100%;
    }
}

/*-----------direccion-------*/


.direccion{         
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    box-sizing: border-box;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    display: flex;    
}

.direccion div{
    box-sizing: border-box;
    width: 40%;
    height: 25%;
}



